@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    --fs-paragraph: 1.8rem;
    --fs-heading-2: 1.5rem;
    --ff-family: 'DM Sans';
    --fw-normal: 400;
    --fw-bold: 500;

    --spacing-100: 1rem;
    --spacing-150: 1.5rem;
    --spacing-200: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ff-family);
}

body {
    background-color: rgb(238, 238, 238);
    font-size: var(--fs-paragraph);
}

main {
    padding-block: var(--spacing-200);
    padding-inline: var(--spacing-200);
    display: grid;
    gap: 3rem;
    ;
}

section {
    border-radius: 1rem;
    width: 100%;
    padding: var(--spacing-150);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-200);
    line-height: .9;

    img {
        width: 100%;
    }
}


.box-one,
.box-five {
    background-color: var(--purple-500);
    text-align: center;
}

.box-three,
.box-eight {
    background-color: var(--yellow-500);
}

.box-two,
.box-six {
    background-color: var(--white);
}

.box-one {
    color: white;
    h1 {
        margin-block-start: var(--spacing-200);
        font-size: 5rem;
        color: var(--white);
    }
    img {
        width: 65%;
        align-self: center;
    }
    p {
        margin-block-end: var(--spacing-200);
    }
    .accent-text {
        color: var(--yellow-500);
    }
}

.box-two {
    font-size: var(--fs-heading-2);
}

.box-three {
    padding-block-end: 0;
    overflow: hidden;
    font-size: var(--fs-heading-2);

    img {
        width: 75%;
    }
}

.box-four {
    background-color: var(--purple-100);
    text-align: center;
    font-size: var(--fs-heading-2);
    h2 {
        margin-block: var(--spacing-100);
    }
    p {
        font-size: var(--fs-paragraph);
        padding-inline: var(--spacing-100);
    }
}

.box-five {
    align-items: center;
    img {
        width: 75%;
    }
    h2 {
        margin-block: var(--spacing-200);
        color: white;
        width: 75%;
    }
}

.box-six {
    padding: var(--spacing-200);
    h2 {
        font-size: 5rem;
        margin-block: var(--spacing-200);
    }
    img {
        margin-block: var(--spacing-200);
        width: 60%;
    }
}

.box-seven {
    background-color: var(--yellow-100);
    padding: var(--spacing-200);

    img {
        width: 75%;
    }

    .accent-text-secondary {
        color: var(--purple-500);
    }
}

.box-eight {
    padding: var(--spacing-200);

    img {
        width: 75%;
    }
}

@media (min-width: 786px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    main {
        display: grid;
        max-width: 1100px;
        max-height: 60vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .box-one {
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;

        img {
            width: 40%;
        }
    }
    .box-two {
        grid-column: 2;
        grid-row: 3 / span 2;
        justify-content: space-evenly;

        h2 {
            font-size: 3rem;
        }
        
    }
    .box-three {
        grid-column: 3;
        grid-row: 3 / span 2;

        h2 {
            font-size: 3rem;
        }
    }
    .box-four {
        grid-column: 4;
        grid-row: 1 / span 4;
        justify-content: space-evenly;

        img {
            width: 100%;
        }
    }
    .box-five {
        grid-column: 3 / span 2;
        grid-row: 5 / span 2;
        flex-direction: row;
    }
    .box-six {
       grid-column: 2;
       grid-row: 5 / span 2;
       justify-content: space-evenly;
       h2 {margin: 0;}
       img {margin: 0;}
    }
    .box-seven {
        grid-column: 1;
        grid-row: 1 / span 3;
        justify-content: center;
    }
    .box-eight {
        grid-column: 1;
        grid-row: 4 / span 3;
        padding: var(--spacing-150);
        justify-content: space-around;

        img {
            width: 100%;
        }
    }
}